body{
    background-color: black;
    text-align: center;
    font-family: verdana;
}

h1{
    font-family: verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}
h3{
    color:aquamarine;
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
}
h2{
    font-family: verdana;
    color:white;
    font-weight: 300;
    font-size: 42px;
}
p{
    font-family:verdana;
    font-size: 21px;
    color: gray;
}
img {
	height: auto;
    display: block;
    margin: 20px auto;
    }
.copyright{
        text-align:right;
        color:gray;
    }